@use 'colors' as *;
div.core {
  .derived-stat-with-label {
    min-width: 67px;
  }
  .basic-table {
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $sheet-row-alt;
        }
        &:hover {
          background-color: $sheet-row-hover;
          color: #fff;

          input {
            color: #fff;
          }
          select {
            color: #fff;

            option {
              background-color: $sheet-row-hover;
            }
          }
        }
        select {
          border: none;
          border-radius: 0;
        }
      }
    }
  }
}
